body {
    display: block;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.container {
    text-align: center;
    border: 1px solid red;
    justify-content: center;
}

.player-fields, .choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.player-fields div {
    margin: 30px;
}

.choices button {
    margin: 30px;
}

footer {
    justify-content: end;
    text-align: center;
}